<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles/styles.css" />
    <title>Tax Easy</title>
  </head>
  <body>
    <header>
      <nav id="navbar-main">
        <a href="" id="logo">TaxEasy</a>
        <div id="navbar-right">
          <ul>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
          </ul>

          <button type="button">
            <!-- login/Signup -->
            <a href="/login" id="loginbtn">Login / Signup</a>
          </button>
        </div>
      </nav>
    </header>
    <main>
      <section id="part1">
        <h1>
          Save <span class="text-emphasize">money</span> Save
          <span class="text-emphasize">time</span> Save
          <span class="text-emphasize">tax</span>
        </h1>
        <p>
          Fastest growing taxation platform
          <br />
          Compliance made easy
        </p>
        <div id="customer-attract1">
          <button type="submit" id="customer-attract1-btn1">Get started</button>
          <button type="submit" id="customer-attract1-btn2">
            Request demo
          </button>
        </div>

        <div id="images-tax">
          <div class="img-with-text">
            <img src="./images/moneyRefund.png" alt="Refund Advance Tax" />
            <p>Payment of advance tax</p>
          </div>
          <div class="img-with-text">
            <img src="./images/payment.png" alt="file ITR" />
            <p>File your ITR</p>
          </div>
        </div>
      </section>

      <section id="part2">
        <img src="" alt="How it works?" />
        <div>
          <h2>How it works?</h2>
          <p class="sideline">
            We have made our platform user friendly and easy to use
          </p>

          <ul>
            <li class="how-it-works">
              <div>
                <p id="number1">1</p>
              </div>
              <div class="to-do-text">Create an account on tax easy.</div>
            </li>
            <li class="how-it-works">
              <div>
                <p id="number2">2</p>
              </div>
              <div class="to-do-text">
                Select your ITR category and fill in your required details.
              </div>
            </li>
            <li class="how-it-works">
              <div>
                <p id="number3">3</p>
              </div>
              <div class="to-do-text">
                Submit all of your income details and generate a tax report
                which you can later use to file taxes.
              </div>
            </li>

            <div id="checklist">
              <div class="list-item">
                <img src="./images/GreenTick.svg" alt="Green tick" />
                <p class="checklist-text">Safe</p>
              </div>
              <div class="list-item">
                <img src="./images/GreenTick.svg" alt="Green tick" />
                <p class="checklist-text">Fast</p>
              </div>
              <div class="list-item">
                <img src="./images/GreenTick.svg" alt="Green tick" />
                <p class="checklist-text">Easy to use</p>
              </div>
            </div>
          </ul>
        </div>
      </section>
      <section id="part3">
        <h2>Looking for expert advice?</h2>
        <p>
          Book a one-one session with our experts who can guide you and help you
          with your compliance reports.
        </p>
        <button type="submit">Book an appointment</button>
      </section>
    </main>
    <footer id="footer">
      <ul>
        <li>All rights reserved ©</li>
        <li>Terms</li>
        <li>Legal</li>
        <li>
          <div>
            <h3>Contact us</h3>
            <p>connect@taxeasy.com</p>
          </div>
        </li>
      </ul>
    </footer>
  </body>
</html>
